extends layout

block content
	section
		div.container
			div.row
				div.col-sm-12
					div.product-details
						div.col-sm-5
							div.view-product
								div.col-sm-5
									div.view-product
										img(src="/images/product-details/1.jpg")
										h3 | Zoom
									div.carousel.slide(data-ride="carousel")
										div.carousel-inner
											div.item.active
												img(src="/images/product-details/similar1.jpg")
												img(src="/images/product-details/similar2.jpg")
												img(src="/images/product-details/similar3.jpg")
											div.item
												img(src="/images/product-details/similar1.jpg")
												img(src="/images/product-details/similar2.jpg")
												img(src="/images/product-details/similar3.jpg")
											div.item
												img(src="/images/product-details/similar1.jpg")
												img(src="/images/product-details/similar2.jpg")
												img(src="/images/product-details/similar3.jpg")


	script(type='text/javascript', src='/javascripts/jquery.prettyPhoto.js')
	script(type='text/javascript', src='/javascripts/bootstrap.min.js')
	script(type='text/javascript', src='/javascripts/main.js')