extends layout

block content
	section
		div.container
			div.row
				div.col-sm-12
					div.product-details
						div.col-sm-4
							div.view-product
								img(src="/images/product-details/1.jpg")
								h3 | Zoom
							div#similar-product.carousel.slide(data-ride="carousel")
								div.carousel-inner
									div.item.active
										img(src="/images/product-details/similar1.jpg")
										img(src="/images/product-details/similar2.jpg")
										img(src="/images/product-details/similar3.jpg")
									div.item
										img(src="/images/product-details/similar1.jpg")
										img(src="/images/product-details/similar2.jpg")
										img(src="/images/product-details/similar3.jpg")
									div.item
										img(src="/images/product-details/similar1.jpg")
										img(src="/images/product-details/similar2.jpg")
										img(src="/images/product-details/similar3.jpg")
								a.left.item-control(href="#similar-product", data-slide="prev")
									i.fa.fa-angle-left
								a.right.item-control(href="#similar-product", data-slide="next")
									i.fa.fa-angle-right
						div.col-sm-8
							div.product-information
								h2 Jacke was weiß ich
								p ProductNummer: 12345
								img(src="/images/product-details/rating.png")
								span
									span 9000€
									input(type="text", value="9000")


	script(type='text/javascript', src='/javascripts/jquery.prettyPhoto.js')
	script(type='text/javascript', src='/javascripts/bootstrap.min.js')
	