doctype html
html
	head
		block htmlHead
			title= title
			meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/main.css')
			link(rel='stylesheet', href='/stylesheets/animate.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/responsive.css')
			link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
			link(rel='stylesheet', href='/stylesheets/toastr.css')
			script(type='text/javascript', src='/javascripts/jquery-2.1.1.min.js')
			script(type='text/javascript', src='/javascripts/fastclick.js')
			script(type='text/javascript', src='/javascripts/bootstrap.min.js')
			script(type='text/javascript', src='/javascripts/buddylist.js')
			script(type='text/javascript').
				// Enable fastclick. This must happen on-ready, but before registering other click handlers.
				$(function() {
					FastClick.attach(document.body);
				});
			script(type='text/javascript', src='/javascripts/toastr.min.js')
			script(type='text/javascript', src='/javascripts/jquery.equalheights.min.js')
			script(type='text/javascript', src='/javascripts/qrcode.js')
			script(type='text/javascript', src='/socket.io/socket.io.js')
			script(type='text/javascript').
				$(function() {
					var $button = $('#buddyShoppingButton');
					var $popup = $('#buddyShoppingPopup');
					var $mask = $('#buddyShoppingPopupMask');
					$button.click(function() {
						$popup.load('/buddy-shopping', function(){

							createSocket();

						});
						$popup.removeClass('fadeOutDown').addClass('animated fadeInUp').css('display', '');
						$mask.css('display', '');
					});
					$mask.click(function() {
						$popup.removeClass('fadeInUp').addClass('animated fadeOutDown');
						$popup.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
							$popup.css('display', 'none');
						});
						$mask.css('display', 'none');
					});
				});

	body
		header#header
			div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
				div.container
					div.navbar-header
						a.navbar-brand(href="/")
							| BuddyShopping
						button.navbar-toggle(type="button", data-toggle="collapse", data-target="#header-navbar-collapse")
							span.sr-only
								| Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						
					div.navbar-collapse.collapse#header-navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href='/login') Login
							li
								a(href='/cart')
									i.fa.fa-shopping-cart
									if cartCount != 0 && cartCount != undefined
										|  Warenkorb (
										span#count-cart #{cartCount}
										| )
									else
										|  Warenkorb (
										span#count-cart 0
										| )

		block content

		div(style="position: relative")
			div#buddyShoppingPopup(style="display: none;")

		div#buddyShoppingPopupMask(style="display: none;")

		div#buddyShoppingButtonContainer(style="margin-top: 20px;")
			button#buddyShoppingButton.btn.btn-block
				| Buddy Shopping

		div#buddyListOpen
			h4 My buddys&nbsp;
				a#closeBuddyList(href='#') Close
				&nbsp;/ 
				a#clearBuddyList(href='#') Clear
			ul#buddyMessages

		div#buddyListClosed
			h4 My buddys&nbsp;
				a#openBuddyList(href='#') Open

		script(type='text/javascript', src='/javascripts/main.js')
