doctype html
html
	head
		block htmlHead
			title= title
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/main.css')
			link(rel='stylesheet', href='/stylesheets/animate.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/responsive.css')
			link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
			link(rel='stylesheet', href='/stylesheets/toastr.css')
			script(type='text/javascript', src='/javascripts/jquery-2.1.1.min.js')
			script(type='text/javascript', src='/javascripts/fastclick.js')
			script(type='text/javascript', src='/javascripts/toastr.min.js')
			script(type='text/javascript').
				$(function() {
					var buddyShoppingPopupVisible = false;
					$('#buddyShoppingButton').click(function() {
						if (buddyShoppingPopupVisible) {
							$('#buddyShoppingPopup').removeClass('fadeInUp').addClass('animated fadeOutDown');
							$('#buddyShoppingPopup').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
								$('#buddyShoppingPopup').css('display', 'none');
								buddyShoppingPopupVisible = false;
							});
						} else {
							$('#buddyShoppingPopup').load('/buddy-shopping');
							$('#buddyShoppingPopup').removeClass('fadeOutDown').addClass('animated fadeInUp').css('display', '');
							buddyShoppingPopupVisible = true;
						}
					});
				});
		
	body
		header#header
			div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
				div.container
					div.navbar-header
						a.navbar-brand(href="/") 
							| BuddyShopping
					div.navbar-collapse collapse
						ul.nav.navbar-nav
							li
								a(href='/') Home
						ul.nav.navbar-nav.navbar-right
							li
								a(href='/login') Login
							li
								a(href='/cart') 
									i.fa.fa-shopping-cart
									if cartCount != 0 && cartCount != undefined
										|  Warenkorb (
										span#count-cart #{cartCount}
										| )
									else
										|  Warenkorb (
										span#count-cart 0
										| )

		block content

		div(style="position: relative")
			div#buddyShoppingPopup(style="display: none;")
		
		div#buddyShoppingButtonContainer
			button#buddyShoppingButton.btn.btn-block
				| Buddy Shopping

				
