body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#details > div
	margin: 0 20px;

.product-information p
    float: left;
    width: 100%;

header
    margin-bottom: 40px;

.checkout
	margin-top: 50px;

.shopper-informations
	margin: 0 auto;
	width 300px;

#buddyShoppingPopup
	z-index: 20000;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: white;
	border: 1px solid black;
	-webkit-animation-duration: 0.2s;
	-moz-animation-duration: 0.2s;
	-ms-animation-duration: 0.2s;
	-o-animation-duration: 0.2s;
	animation-duration: 0.2s;

#buddyShoppingPopupMask
	z-index: 10000;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

#buddyListClosed
    display: block;
    position: fixed;
    padding: 0 6px 6px 6px;
    top: 100px;
    right: 0;
    background-color: #ddd;
    width: 20px;
    height: 400px;
    -webkit-box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    -moz-box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    h4
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        writing-mode: lr-tb;
        white-space: nowrap;
        height: 140px;
        width: 130px;

#buddyListOpen
    display: none;
    position: fixed;
    padding: 0 6px 6px 6px;
    top: 100px;
    right: 0;
    background-color: #ddd;
    width: 240px;
    height: 400px
    -webkit-box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    -moz-box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);

#buddyMessages
    height: 360px;
    overflow: auto;
    padding: 0;
    li
        margin: 0;
        padding: 0;
        border-bottom: 1px dotted #ccc;

#qrCodeContainer img
	margin-top: 20px;
	display: inline !important;

#chat
	position: fixed;
	bottom: 0;
	right: 0;
	width: 250px;


#chat-top   
	height: 38px;
	background-color: #DDD;
	padding: 1px 10px;
	cursor: pointer; 

.active#chat
	background-color: #3A5AFB;

#chat-content
	height: 300px;
	padding-top: 5px;
	background-color: #EDEFF4;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;

#chat-input
	position: absolute;
	width: 100%;
	bottom: 0;

.chat-entry
	position: relative;
	width: 80%;
	margin-left: 15px;
	margin-top: 5px;
	padding: 10px;
	background: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;


.chat-entry.chat-self-entry:after
	border-width: 10px 0px 10px 10px !important;
	left: auto;
	right: -10px;


.chat-entry:after
	content: "";
	position: absolute;
	top: 9px;
	left: -10px;
	
	border-style: solid;
	border-width: 10px 10px 10px 0px !important;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;

#chat-message
	overflow: auto;
	height: 270px;

	
