body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#details > div
	margin: 0 20px;

.product-information p
    float: left;
    width: 100%;

header
    margin-bottom: 40px;

.checkout
	margin-top: 50px;

.shopper-informations
	margin: 0 auto;
	width 300px;
#buddyShoppingPopup
	z-index: 20000;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: white;
	border: 1px solid black;
	-webkit-animation-duration: 0.2s;
	-moz-animation-duration: 0.2s;
	-ms-animation-duration: 0.2s;
	-o-animation-duration: 0.2s;
	animation-duration: 0.2s;

#buddyShoppingPopupMask
	z-index: 10000;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

#buddyListClosed
    display: block;
    position: fixed;
    padding: 0 6px 6px 6px;
    top: 100px;
    right: 0;
    background-color: #ddd;
    width: 20px;
    height: 400px;
    -webkit-box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    -moz-box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    h4
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        writing-mode: lr-tb;
        white-space: nowrap;
        height: 140px;
        width: 130px;

#buddyListOpen
    display: none;
    position: fixed;
    padding: 0 6px 6px 6px;
    top: 100px;
    right: 0;
    background-color: #ddd;
    width: 240px;
    height: 400px
    -webkit-box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    -moz-box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);
    box-shadow: -5px 5px 5px 4px rgba(0,0,0,0.18);

#qrCodeContainer img
	margin-top: 20px;
	display: inline !important;
